@import url('https://sibforms.com/forms/end-form/build/sib-styles.css');

#sib-container input:-ms-input-placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container input::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container textarea::placeholder {
  text-align: left;
  color: #c0ccda;
}

#sib-container a {
  text-decoration: underline;
  color: #2bb2fc;
}

#sib-container {
  background: inherit;
  font-family: 'IBM Plex Mono', monospace;
}

.sib-form .entry__specification {
  color: inherit;
}
