This is a prompt that includes multiple prompts:
- "included-prompt" at a specific version "0.0.1".
- "included-prompt" at the latest version, using the "@latest" syntax.

It has one variable of it's own: {{ foo }}

{% include "included-prompt@0.0.1" %}
{% include "included-prompt@latest" %}