This is the included prompt version 0.0.3, it should be included into another prompt.

It has one variable of it's own that is unique: {{ bar }}

And has the same variable as the parent prompt: {{ foo }}